[submodule "rain/lib/forge-std"]
	path = rain/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "rain/lib/rain.factory"]
	path = rain/lib/rain.factory
	url = https://github.com/rainprotocol/rain.factory
[submodule "rain/lib/rain.flow"]
	path = rain/lib/rain.flow
	url = https://github.com/rainprotocol/rain.flow
[submodule "rain/lib/rain.interpreter"]
	path = rain/lib/rain.interpreter
	url = https://github.com/rainprotocol/rain.interpreter
[submodule "rain/lib/contracts"]
	path = rain/lib/contracts
	url = https://github.com/maticnetwork/contracts
