
/node_modules/
/dist/
/target/
/.cargo/
*.happ
*.webhapp
*.zip
*.dna
.hc*
.hc
.running
ui/.env
todos.md
patterns

# Forge
# Compiler files
rain/cache/
rain/out/

# Ignores development broadcast logs
!/rain/broadcast
rain/broadcast/*/80001/*
rain/broadcast/**/dry-run/

# Docs
/rain/docs/

# Dotenv file
.env
